.tableContainer {
  overflow: scroll;
  border-radius: 15px;
  &::-webkit-scrollbar {
    display: none;
  }
}

.table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  min-width: 700px;
  border-radius: 15px;
}

.td,
.th {
  padding: 12px 4px;
  text-align: center;
  vertical-align: center;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}

.th {
  font-size: 14px;
  background-color: orange;
}

.td {
  font-size: 12px;
}

tbody .tr {
  &:nth-child(odd) {
    background-color: #f1f1f1;
  }

  &:nth-child(even) {
    background-color: #fbfbfb;
  }
  &:hover {
    background-color: #dfdfdf;
  }
}
